# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import scipy.stats as st
from scipy.stats import linregress
import random 
import csv

from api_keys import weather_api_key
from citipy import citipy

## Generate Cities List

In [2]:
# out_put_data_file = "../output_data/cities.csv"

# need random numbers --- 600 bewtween -90 & 90 for lat
lat_numbers = []

for num in range(0, 700):
    x = random.randint(-90,90)
    lat_numbers.append(x)

# need random numbers --- 600 between -180 & 180 for lng
lng_numbers = []

for num in range(0, 700):
    y = random.randint(-180, 180)
    lng_numbers.append(y)

#shove numbers in dataframe in lat & lng columns
cities_fake_lat_lng_df = pd.DataFrame({"City": "", 
                          "Lat": lat_numbers,
                          "Lng": lng_numbers})

# get below per each lat & lng number
city_name = []


for index, row in cities_fake_lat_lng_df.iterrows():
    city = citipy.nearest_city(row["Lat"], row["Lng"])
    city_name.append(city.city_name)
    
# save in city name & country code in DF

city_df = pd.DataFrame({"City": city_name})

print(city_df.count())
city_df.head()

City    700
dtype: int64

           City
0  puerto ayora
1          aksu
2         tiksi
3        shingu
4        atuona

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [3]:
# Ins_OpenWeatherRequest ---- for weather API (when we used it)
### 02-API-try-except/03-Ins_OpenWeatherRequest/Unsolved/Ins_OpenWeatherRequest.ipynb
# Ins_IterativeRequests ---- for multi requests
### 01-Intro-to-APIs/09-Ins_IterativeRequests/Unsolved/Ins_IterativeRequests.ipynb
# NearestRestr_SOLVED ---- for try, except errors
### 03-Google-Census/04-Ins_NearestRestr/Unsolved/NearestRestr_SOLVED.ipynb

##### ROAD MAP TO HOW TO DO THE BELOW: yays

### THEY DID THEIR EXAMPLE REQUESTS IN GROUPS OF 50
# Processing Record 1 of Set 1 | butaritari
# class example = for record #, need to figure out for set #

In [4]:
#looked it up -- need + instead of spaces for api lookup
city_df["City"] = city_df["City"].str.replace(' ', '+')


city_df_mini = pd.DataFrame(city_df["City"][0:10])

# #make empty columns
# city_df['City Name'] = ""
# city_df['Lat'] = ""
# city_df['Lng'] = ""
# city_df['Max Temp'] = ""
# city_df['Humidity'] = ""
# city_df['Cloudiness'] = ""
# city_df['Wind Speed'] = ""
# city_df['Country'] = ""
# city_df['Date'] = ""

#make empty columns MINI
city_df_mini['City Name'] = ""
city_df_mini['Lat'] = ""
city_df_mini['Lng'] = ""
city_df_mini['Max Temp'] = ""
city_df_mini['Humidity'] = ""
city_df_mini['Cloudiness'] = ""
city_df_mini['Wind Speed'] = ""
city_df_mini['Country'] = ""
city_df_mini['Date'] = ""


print("Beginning Data Retrieval")
print("-----------------------------")


url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"

set = 1

for index, row in city_df_mini.iterrows():
    # make query URLs (yay works)
    city = row['City']
    query_url = url + "appid=" + weather_api_key +"&q=" + city + "&units=" + units
    
    #get response json()
    response = requests.get(query_url).json()

    # trying to break down into sets somehow
#     for x in index:
        
#         if x == _______:
 
#             # SHOVE IT IN DATAFRAME IF EXISTS!!!!!!
#             try: 
#                 print(f"Processing Record {index} Set {set} | {city}")
#                 city_df_mini.loc[index, 'City Name'] = response['name']
#                 city_df_mini.loc[index, 'Lat'] = response['coord']['lat']
#                 city_df_mini.loc[index, 'Lng'] = response['coord']['lon']
#                 city_df_mini.loc[index, 'Max Temp'] = response['main']['temp_max']
#                 city_df_mini.loc[index, 'Humidity'] = response['main']['humidity']
#                 city_df_mini.loc[index, 'Cloudiness'] = response['clouds']['all']
#                 city_df_mini.loc[index, 'Wind Speed'] = response['wind']['speed']
#                 city_df_mini.loc[index, 'Country'] = response['sys']['country']
#                 city_df_mini.loc[index, 'Date'] = response['dt']
#             except(KeyError, IndexError):
#                 print(f"{city} not found. Skipping...")
            
#             set += 1

# FOR MINI DATA FRAME
    try: 
        print(f"Processing Record {index} Set {set} | {city}")
        city_df_mini.loc[index, 'City Name'] = response['name']
        city_df_mini.loc[index, 'Lat'] = response['coord']['lat']
        city_df_mini.loc[index, 'Lng'] = response['coord']['lon']
        city_df_mini.loc[index, 'Max Temp'] = response['main']['temp_max']
        city_df_mini.loc[index, 'Humidity'] = response['main']['humidity']
        city_df_mini.loc[index, 'Cloudiness'] = response['clouds']['all']
        city_df_mini.loc[index, 'Wind Speed'] = response['wind']['speed']
        city_df_mini.loc[index, 'Country'] = response['sys']['country']
        city_df_mini.loc[index, 'Date'] = response['dt']
    except(KeyError, IndexError):
        print(f"{city} not found. Skipping...")
    
### RATE LIMIT = 60 per minute

# city_df_mini
# print(query_url)
##### ***** CITY DF MINI WOKRS .....just need to figure out how to split into sets
### **** USE CITY MIN TO split into 2 and see if you can get it to work DO NOT USE FULL
#### *** LOOK AT Stu_Retrieve_Articles (01, 12 lesson) & Ins_IterativeRequests (1, 09)

# will need to get rid of "City" column (has +), and check that blank rows are gone

Beginning Data Retrieval
-----------------------------
Processing Record 0 Set 1 | puerto+ayora
Processing Record 1 Set 1 | aksu
Processing Record 2 Set 1 | tiksi
Processing Record 3 Set 1 | shingu
Processing Record 4 Set 1 | atuona
Processing Record 5 Set 1 | fuerte+olimpo
Processing Record 6 Set 1 | severo-kurilsk
Processing Record 7 Set 1 | busselton
Processing Record 8 Set 1 | lagoa
Processing Record 9 Set 1 | yongan

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [5]:
#get rid of dup city column
city_df_mini = city_df_mini.drop(columns=['City'])
city_df_mini = city_df_mini.rename(columns={'City Name': 'City'})


city_df_mini.to_csv(r'../output_data/cities.csv', index=False, header=True)

city_df_mini.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Puerto Ayora,-0.74,-90.35,69.01,94,98,7,EC,1602921801
1,Aksu,41.12,80.26,66.34,25,0,4.32,CN,1602921801
2,Tiksi,71.69,128.87,25.32,98,100,7.92,RU,1602921802
3,Shingū,33.73,135.98,59,93,75,2.24,JP,1602921802
4,Atuona,-9.8,-139.03,78.28,74,17,19.08,PF,1602921802

In [53]:
city_df_mini_stats = pd.DataFrame(city_df_mini[['Lat', 'Lng', 'Max Temp', 'Humidity', 
                                                'Cloudiness', 'Wind Speed', 'Date']].astype(int))


city_df_count = city_df_mini_stats.count()
city_df_mean = city_df_mini_stats.mean()
city_df_std = city_df_mini_stats.std()
city_df_min = city_df_mini_stats.min()
city_df_25 = city_df_mini_stats.quantile(.25, axis=0)
city_df_5 = city_df_mini_stats.quantile(.5, axis=0)
city_df_75 = city_df_mini_stats.quantile(.75, axis=0)
city_df_max = city_df_mini_stats.max()


city_df_mini_stats_filled = pd.DataFrame({"count": city_df_count, "mean": city_df_mean,
                                          "std": city_df_std, "min": city_df_min,
                                          "25%": city_df_25, "50%": city_df_5,
                                          "75%": city_df_75, "max": city_df_max})
city_df_mini_stats_filled = city_df_mini_stats_filled.transpose()
city_df_mini_stats_filled

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000e+01
mean,21.000000,41.400000,60.600000,66.100000,49.300000,9.500000,1.602922e+09
std,34.244221,108.319691,16.187787,27.286342,43.458921,7.412452,7.378648e-01
min,-33.000000,-139.000000,25.000000,25.000000,0.000000,2.000000,1.602922e+09
25%,-6.750000,-49.500000,56.000000,40.750000,4.250000,4.000000,1.602922e+09
50%,36.000000,96.500000,65.000000,72.500000,51.500000,7.000000,1.602922e+09
75%,40.500000,124.750000,72.000000,88.500000,92.250000,14.250000,1.602922e+09
max,71.000000,156.000000,78.000000,98.000000,100.000000,23.000000,1.602922e+09

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
#CHECK to SEE IF humidity max = > 100, it goes bye bye got back and clean

city_df_mini_stats_filled

In [ ]:
#  Get the indices of cities that have humidity over 100%.

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression